:root {
    --primaryColor : #1073ba;
    --secondaryColor : #00da55;
    --grey: #3b3b3b;
    --white : #ffffff;
    --black : #1f1e1e;
    --lightGrey : #e1e1e1;

    --primaryFont : 'Roboto', sans-serif;
    --secondaryFont : 'Lato', sans-serif;

    --separation : 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.5;
}


/* Globals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondaryFont);
    margin: calc(var(--separation) / 2) 0 ;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}


/* Utilities */
.text-center {
    text-align: center;
}

.green-gradient {
    color: transparent;
    background: linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}


/* Header */
.header {
    background-color: var(--black);
    padding: calc(var(--separation) * 3) 0;
    color: var(--white);
}

.header img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.header-text {
    text-align: center;
    padding-top: var(--separation);
}

.header-text p {
    margin: 0;
}

@media (min-width: 768px) {
    .header-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.product-tagline {
    font-size: 3rem;
    font-weight: 900;
}

.product-name {
    font-size: 6rem;
}

@media (min-width: 768px) {
    .product-name {
        font-size: 10rem;
        line-height: 1;
    }
}

.product-price span {
    font-size: 6rem;
    font-weight: 900;
}


/* Icons */
.icons {
    padding: var(--separation) 0;
}

@media (min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }    
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--separation) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 5rem;
}

.icon h3 {
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-top: calc(var(--separation) / 2);
    margin-bottom: 1rem;
}